{% extends 'base.html.twig' %}

{% block body %}
    <div class="container text-center">
    <h3>Dodaj mecz do terminarza</h3>
        {{ form_start(form) }}
        {{ form(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}