{% extends "::base.html.twig" %}


{% block body %}
    {% include 'widgets/header.html.twig' %}
    <div class="container text-center">
    {% if action == true %}
        <h1>Panel Admina</h1>
        <h3><a href="{{ path('show_users') }}" class="links btn btn-success">Lista użytkowników</a></h3>
        <h3><a href="{{ path('club_add') }}" class="links btn btn-success">Dodaj klub do bazy</a></h3>
        <h3><a href="{{ path('player_add') }}" class="links btn btn-success">Dodaj zawodnika do bazy</a></h3>
    {% else %}
        <h2>Strona tylko dla Admina</h2>
    {% endif %}
    </div>
    {% include 'widgets/footer.html.twig' %}
{% endblock %}