{% extends "::base.html.twig" %}

{% block body %}
    <div class="container text-center">
        <h1>Ekstraklasa</h1>
        <h3><a href="{{ path('club_add') }}" class="links btn btn-default">Dodaj klub do bazy</a></h3>
        <h3><a href="{{ path('show_all') }}" class="links btn btn-default">Wszystkie kluby</a></h3>
    </div>

{% endblock %}