parameters:
    mailer_transport: smtp
    mailer_host: smtp.gmail.com
    mailer_username: devexclusivesite@gmail.com
    mailer_password: eXtosi_dev1
    mailer_auth_mode: login
    mailer_port: 587
    mailer_encryption: tls
    mailer_sender_address: kf@iandb.pl
    mailer_delivery_address: jacqu25@yahoo.com
